.config/btop/btop.log
.config/fish/completions
.config/fish/fish_variables
.config/fish/functions
.config/GIMP/2.10
.config/dconf
.config/ncmpcpp/error.log
.config/qt5ct/qt5ct.conf
.config/QtProject.conf
.config/kdeglobals
.config/tmux/plugins
.config/cava/shaders
.config/inkscape
.config/kde.org
.config/kdeconnect/d692431ee7968d36
.config/qutebrowser/qsettings
.config/session
.config/uv
.config/ibus/bus
.config/xsettingsd
.config/GIMP/3.0
.icons
.config/systemd/user/default.target.wants
.config/go/telemetry/local
.config/arkrc
.config/fish/fish_plugins
.fonts
.config/kwalletrc
