@import url("/home/dilip/.cache/wal/colors-waybar.css");

* {
    font-family: "JetBrainsMonoNL Nerd Font";
    font-feature-settings: '"zero", "tnum", "ss01", "ss02", "ss03", "cv01"';
    font-size: 15px;
    color: @background;
}

window#waybar {
    background-color: rgba(17, 17, 17, 0.9);
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0px 0px 15px 15px;
    border: 2px solid rgba(17, 17, 17, 0.9);
}

#custom-appmenuicon,
#custom-notifications,
#custom-powermenuicon,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-expand,
#custom-cycle_wall,
#custom-ss,
#custom-dynamic_pill,
#user,
#taskbar,
#power-profiles-daemon,
#mpd {
    border-radius: 10px;
    background-color: alpha(@light_black, .4);
    border: 2px solid @light_black;
    color: @foreground;
    padding: 10px;
    margin: 10px 0px 10px 10px;
}

#user {
    padding: 0px 10px;
}
#custom-appmenuicon {
   color: @blue;
    padding: 6px 12px;
    padding-right: 17px;
    margin-right: 0px;
}
#custom-powermenuicon {
    color: @red;
    padding: 6px 12px;
    padding-right: 17px;
    margin-right: 10px;
}
#custom-notifications {
    color: @yellow;
    padding: 6px 12px;
    padding-right: 17px;
}

#workspaces{
   border-radius: 10px;
    border: 2px solid @light_black;
   background-color: alpha(@light_black, .4);
   padding: 5px;
   margin: 10px;
   margin: 10px;
   margin-right: 0px;
}
#workspaces button {
   background-color: @light_black;
   border-radius: 8px;
   padding: 0px;
   margin: 0px 3px;
   transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
}
#workspaces button:first-child {
   margin: 0px 3px 0px 0px;
}
#workspaces button:last-child {
   margin: 0px 0px 0px 3px;
}
#workspaces button.empty{
   background-color: alpha(@light_black, .4);
}
#workspaces button.active{
   border-radius: 8px;
   background: @background;
   background: linear-gradient(135deg , @blue, @cyan,@green);
   padding: 2px 10px 2px 6px;
}
#workspaces button:hover {
   background-color: alpha(@light_black, .6);
   color: @foreground;
}

#clock {
    padding: 0px 10px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery {
    padding-left: 15px;
    padding-right: 15px;
}

#battery.critical:not(.charging) {
   border-color: @red;
   background-color: @red;
   color: @background;
}

label:focus {

}

#cpu {
    background-size: 300% 300%;
    animation: gradient 20s ease infinite;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}

#memory {
    background-color: #cba6f7;
    font-weight: bolder;
}

#disk {
}

#backlight {
}

#network{
}

#network.disabled{
    background-color: #45475a;
}

#network.disconnected{
   border-color: @red;
   background-color: @red;
   color: @base;
   font-weight: bolder;
   padding-top: 3px;
   padding-right: 11px;
}

#network.linked, #network.wifi{
}

#network.ethernet{
}

#pulseaudio {
    font-weight: bolder;
}

#pulseaudio.muted {
   border-color: @red;
   background-color: @red;
   color: @base;
}

#temperature {
}

#temperature.critical {
    background-color: @red;
    color: @text;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd { }

#mpd.disconnected {
    background-color: @red;
}

#mpd.playing {
}

#mpd.stopped { }

#mpd.paused { }

#language {
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#tooltip {
   background-color: rgba(17, 17, 17, 0.8);
}
#tooltip label {
  color: @red;
}

#taskbar {
    padding: 5px;
    margin: 10px;
}
#taskbar button {
   padding: 2px 5px;
   border-radius: 8px;
}
#taskbar button:hover {
   background-color: alpha(@light_black, .6);
}
#taskbar button.active {
   background: @background;
   background: linear-gradient(135deg , @blue, @cyan,@green);
}
#taskbar.empty {
    background-color: transparent;
    border: 2px solid transparent;
}
