configuration{
    modi: "drun,run";
    show-icons: true;
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    display-drun: " Apps ";
    display-run: " Commands ";
    display-window: " Windows ";
    display-ssh: " SSH ";
    display-filebrowser: " File Browser ";
    sidebar-mode: false;
}
@theme "/home/dilip/.config/rofi/themes/pywal/launcher.rasi"
