@import "../../themes/rose-pine.css";
/* @import "./rose-pine-moon.css"; */
/* @import "./rose-pine-dawn.css"; */

* {
   font-family: "Iosevka Nerd Font Propo";
   font-feature-settings: '"zero", "tnum", "ss01", "ss02", "ss03", "cv01"';
   font-weight: bold;
   font-size: 16px;
}

window#waybar {
   background-color: alpha(@base, .8);
   border-radius: 8px;
   border: 4px solid @base;
}

#custom-appmenuicon,
#custom-notifications,
#custom-powermenuicon,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#user,
#taskbar,
#power-profiles-daemon,
#workspaces,
#mpd {
   background: alpha(@muted, .4);
   border-radius: 5px;
   padding: 5px 10px;
   color: @foreground;
   margin: 8px;
   margin-left: 4px;
   margin-right: 4px;
}

/* .controls-items { */
/*    border: 2px solid @love; */
/* } */

#user {
   padding: 0px 10px;
}

#custom-appmenuicon {
   color: @blue;
   padding: 6px 12px;
   padding-right: 17px;
   margin-right: 0px;
}

#custom-powermenuicon {
   color: @red;
   padding: 6px 12px;
   padding-right: 17px;
   margin-right: 10px;
}

#custom-notifications {
   color: @yellow;
   padding-right: 20px;
}

#workspaces{
   padding: 0px;
}

#workspaces button {
   border-radius: 5px;
   padding: 5px 10px;
   color: @text;
}

#workspaces button.active{
   color: @base;
   background-color: @foam;
}

#workspaces button:hover {
   color: @text;
   background-color: @muted;
}

#clock {
   margin-left: 8px;
   text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}

#battery.charging, #battery.plugged {
   border: 4px solid @foam;
}

#battery {
   margin-right: 8px;
}

#battery.critical:not(.charging) {
   border-color: @love;
}

label:focus {
}

#cpu {
   background-size: 300% 300%;
   animation: gradient 20s ease infinite;
   text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}

#memory {
   background-color: #cba6f7;
   font-weight: bolder;
}

#disk {
}

#backlight {
}

#network{
}

#network.disabled{
   background-color: #45475a;
}

#network.disconnected{
   border-color: @love;
}

#network.linked, #network.wifi{
}

#network.ethernet{
}

#pulseaudio {
}

#pulseaudio.muted {
   border-color: @love;
}

#temperature {
}

#temperature.critical {
   background-color: @red;
   color: @text;
}

#tray {
}

#tray > .passive {
   -gtk-icon-effect: dim;
}

#tray > .needs-attention {
   -gtk-icon-effect: highlight;
   background-color: @red;
}

#idle_inhibitor {
   background-color: #2d3436;
}

#idle_inhibitor.activated {
   background-color: #ecf0f1;
   color: #2d3436;
}

#mpd {
   background-color: transparent;
   border: transparent;
   color: @text;
}

#mpd.disconnected {
   color: @rose;
}

#mpd.playing {
}

#mpd.stopped { }

#mpd.paused { }

#language {
   padding: 0 5px;
   margin: 0 5px;
   min-width: 16px;
}

#keyboard-state {
   padding: 0 0px;
   margin: 0 5px;
   min-width: 16px;
}

#keyboard-state > label {
   padding: 0 5px;
}

#keyboard-state > label.locked {
   background: rgba(0, 0, 0, 0.2);
}

#tooltip {
   background-color: rgba(17, 17, 17, 0.8);
}
#tooltip label {
   color: @red;
}

#taskbar {
   padding: 5px;
   margin: 10px;
}
#taskbar button {
   padding: 2px 5px;
   border-radius: 30px;
}
#taskbar button:hover {
   background-color: alpha(@light_black, .6);
}
#taskbar button.active {
   background: @background;
   background: linear-gradient(135deg , @blue, @cyan,@green);
}
#taskbar.empty {
   background-color: transparent;
   border: 2px solid transparent;
}

#power-profiles-daemon.balanced {
   background-color: @gold;
   color: @base;
}

#power-profiles-daemon.performance {
   background-color: @love;
   color: @base;
}

#power-profiles-daemon.power-saver {
   background-color: @foam;
   color: @base;
}
